.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

video{
  /* display: flex; */
  /* flex: 1; */
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}